

$color-variant-1: rgb(190, 73, 73);
$preset-email-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

$transition: .3s all ease-in-out;

$color-primary: #FEBB56;
$color-secondary: #D68916;
$color-dark: #1D1D1D;
$color-clear: #F1F1F1;
$color-white: #FFF;
$color-background: #FFF9EF;
$color-standout: #1B4FD6;
$color-standout-hover: #063cc4;
