@import "../abstracts/variables";

.Calendar_Component{
  box-shadow: $preset-light-box-shadow;
  padding: $preset-standar-mesure;
  display: flex;
  flex-direction: column;
  gap: $preset-standar-mesure;

  .calendar_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .calendar_arrows{
      display: flex;
      gap: $preset-standar-mesure*2;

      .left{
        transform: rotate(90deg);
        cursor: pointer;
      }
      .right{
        transform: rotate(-90deg);
        cursor: pointer;
      }
    }
  }
  .calendar_weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  .calendar_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;

    .not_from_current_month{
      color: $color-disabled;
    }

    .day_box{
      width: 80px;
      height: 40px;
      cursor: pointer;
      transition: $transition-fast;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .day{
        width: fit-content;
        padding: calc($preset-standar-mesure/2);
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-background;
        border-bottom-right-radius: $preset-standar-mesure;

      }
      &.selected{
        background-color: $color-primary-light;
      }
      .event_indicator{
        width: 100%;
        height: $preset-standar-mesure;
      }
    }
  }
}