@import "../abstracts/variables";

.event_card_container{
  box-shadow: $preset-light-box-shadow;
  background-color: $color-background;
  margin: $preset-standar-mesure*4;
  padding: $preset-standar-mesure;
  border-radius: $preset-standar-mesure;
  height: auto;
  
  .event_main_display{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .event_info{
      display: flex;
      flex-direction: row;
      gap: $preset-standar-mesure*4;
      align-items: center;
  
      .event_type{
        width: $preset-standar-mesure*6;
        height: $preset-standar-mesure*6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $preset-standar-mesure;
        border: 1px solid $color-gray;
      }
    
      .event_title{
        width: 300px;
      }
    }
  
    .event_interaction{
      display: flex;
      align-items: center;
      gap: $preset-standar-mesure*2;

      & * {
        cursor: pointer;
      }
    }
  }

  .event_display{
    max-height: 0;
    opacity: 0;
    transition: $transition;
    pointer-events: none;
    
    &.active{
      padding-top: $preset-standar-mesure*2;
      max-height: 150px;
      opacity: 1;
    }

    .event_full_data{
      display: flex;
      gap: $preset-standar-mesure*2;
      align-items: center;
      padding: $preset-standar-mesure 0;

      .data{
        opacity: 0.5;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .details{
          display: flex;
          align-items: center;
          gap: $preset-standar-mesure;
        }
      }
    }
  }
}