@import "../abstracts/variables";

.preset_button{
  outline: none;
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1;
  transition: $transition;
  box-shadow: $preset-middle-box-shadow;
  
  &.primary{
    background-color: $color-standout;
    color: $color-clear;

    &:hover{
      background-color: $color-standout-hover;
    }
  }
  &.secondary{
    background-color: $color-white;
    color: $color-standout;
    border: 1px solid $color-standout;
  }
  &.tertiary{
    background-color: transparent;
    color: $color-standout;
    border: 1px solid transparent;

    &:hover{
      background-color: $color-gray;
    }
  }

  &.quaternary{
    background-color: transparent;
    color: $color-standout;
    padding: $preset-standar-mesure;
    position: relative;
    box-shadow: none;

    &::after{
      content: "";
      position: absolute;
      bottom: calc($preset-standar-mesure/2);
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-standout;
      transition: $transition;
    }

    &:hover{
      &::after{
        width: 100%;
      }
    }
  }
}

.preset_button_hub{
  width: 200px;
  cursor: pointer;
  
  .content {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
    justify-items: center;
    width: 100%;

    button{
      display: grid;
      grid-template-columns: 0.3fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: center;
      width: 100%;
      height: 100%;
      margin: $preset-standar-mesure $preset-standar-mesure*3;
      box-shadow: $preset-light-box-shadow;
      border: none;
      background-color: $color-white;
      border-radius: $preset-standar-mesure * 2;
      cursor: pointer;

      .text{
        font-weight: 600;
        text-align: left;
        width: 100%;
      }
    }

    .icon{
      width: 100%;
      text-align: center;
    }
  }

  .options_dropdown{
    margin-top: $preset-standar-mesure*2;
    padding: $preset-standar-mesure;
    border-radius: $preset-standar-mesure * 2;
    display: flex;
    flex-direction: column;
    margin-bottom: $preset-standar-mesure * 2;
    height: 0px;
    opacity: 0;
    gap: 10px;
    pointer-events: none;
    transition: $transition;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);

    .option{
      padding: $preset-standar-mesure;
      border-radius: $preset-standar-mesure;

      &:hover{
        background-color: $color-background;
      }
    }

    &.deployed{
      height: 100%;
      opacity: 1;
      pointer-events: auto;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}