@import "../abstracts/variables";

.selector_dropdown{
    display: flex;
    gap: $preset-standar-mesure;
    width: fit-content;

    .dropdown_label{
        padding: $preset-standar-mesure;
        cursor: pointer;
    }
    
    .dropdown_container{
        background-color: $color-gray;
        position: relative;
        width: 160px;
        padding: $preset-standar-mesure;
        border-radius: $preset-standar-mesure;
        cursor: pointer;

        .dropdown_show_selected{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dropdown_selected{
                font-weight: 600;
            }
        }

        .dropdown_table{
            background-color: $color-gray;
            transition: $transition;
            position: absolute;
            left: 0;
            top: 110%;
            width: 150%;
            scale: 0.9;
            opacity: 0;
            border-radius: $preset-standar-mesure;
            padding: $preset-standar-mesure;
            cursor: default;
            pointer-events: none;
            z-index: 1;

            &.active{
                opacity: 1;
                scale: 1;
                pointer-events:all;
                width: 150%;
            }

            .dropdown_option{
                padding: calc($preset-standar-mesure/2);
                margin: $preset-standar-mesure;
                border-radius: $preset-standar-mesure;
                cursor: pointer;

                &:hover{
                    background-color: $color-background;
                }
            }
        }
    }
}
